<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
  <label>誕生日:</label><%= @user.birthday %><br>
  <label>居場所:</label><%= @user.location %><br>
  <label>ホームページ:</label><%= @user.url %><br>
  <label>プロフィール:</label><%= @user.profile%><br>
